<div class="bg-gray-100 p-4 rounded mb-8">
    <h2 class="text-xl font-bold mb-4">
      {{ mode() === 'edit' ? 'Редактировать товар' : 'Добавить новый товар' }}
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="mb-4">
        <label for="name" class="block mb-1">Название</label>
        <input id="name" [formField]="productForm.name" class="border p-2 rounded w-full" />
        @if(productForm.name().touched()) {
          <div class="error">
            @for (error of productForm.name().errors(); track error.kind) {
              <span class="text-red-500 text-sm">{{ error.message }}</span>
            }
          </div>
        }
      </div>
      <div class="mb-4">
        <label for="category" class="block mb-1">Категория</label>
        <select id="category" [formField]="productForm.category" class="border p-2 rounded w-full bg-white">
          @for (cat of categories(); track cat) {
            <option [value]="cat">{{ cat }}</option>
          }
        </select>
        @if(productForm.category().touched()) {
          <div class="error">
            @for (error of productForm.category().errors(); track error.kind) {
              <span class="text-red-500 text-sm">{{ error.message }}</span>
            }
          </div>
        }
      </div>
      <div class="mb-4">
        <label for="description" class="block mb-1">Описание</label>
        <input id="description" [formField]="productForm.description" class="border p-2 rounded w-full" />
        @if(productForm.description().touched()) {
          <div class="error">
            @for (error of productForm.description().errors(); track error.kind) {
              <span class="text-red-500 text-sm">{{ error.message }}</span>
            }
          </div>
        }
      </div>
      <div class="mb-4">
        <label for="price" class="block mb-1">Цена</label>
        <input id="price" [formField]="productForm.price" type="number" class="border p-2 rounded w-full" />
        @if(productForm.price().touched()) {
          <div class="error">
            @for (error of productForm.price().errors(); track error.kind) {
              <span class="text-red-500 text-sm">{{ error.message }}</span>
            }
          </div>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="image" class="text-sm text-gray-600">Изображение товара</label>
        <input id="image" type="file" accept="image/*" (change)="onFileSelected($event)" class="border p-2 rounded text-sm w-full" />
        @if (displayImageUrl()) {
          <img [src]="displayImageUrl()!" alt="Preview" class="w-24 h-24 object-cover rounded border" />
        }
      </div>
    </div>

    <div class="mt-4 flex gap-3">
      <button (click)="saveProduct()" [disabled]="productForm().invalid()" 
      class="
      bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600
      disabled:bg-gray-400 disabled:cursor-not-allowed
      disabled:opacity-50
      disabled:hover:bg-gray-400
      "
      >
        {{ mode() === 'edit' ? 'Сохранить изменения' : 'Добавить товар' }}
      </button>
      @if (mode() === 'edit') {
        <button (click)="cancelEdit()" class="bg-gray-400 text-white px-6 py-2 rounded hover:bg-gray-500">
          Отмена
        </button>
      }
    </div>
</div>
